AWS_REGION=<AWS Region to run test>   
AWS_ACCOUNT_ID=<AWS Account ID to run test>
DEBUG_MODE=<true/false>
S3_BUCKET_NAME=<S3 Bucket Name to store test results>
CLOUDWATCH_NAMESPACE=<CloudWatch namespace to publish metrics>
INTERVAL_DURATION=<Interval duration to run tests (seconds)>
AUTH_ACCESS_ACCOUNT_ID=<AWS Account ID for auth access>
AUTH_ACCESS_ROLE_ID=<Role ID for auth access>